<div><h3><span class="well well-sm"> SEARCH CAR</span></h3></div>
<nav class="navbar">
 <input class="form-control" type="text" name="search" [(ngModel)]="filter">
</nav>
<table class="table table-hover">
  <caption><span class="label label-success">List of cars</span></caption>
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">Id:</th>
    <th scope="col" (click)="sort('mark')">Mark:</th>
    <th scope="col" (click)="sort('model')">Type:</th>
    <th scope="col" (click)="sort('mileage')">Mileage:</th>
    <th scope="col" (click)="sort('servicePeriod')">Service Period:</th>
    <th scope="col" (click)="sort('retirementDate')">Retirement date:</th>
    <th scope="col" (click)="sort('description')">Description:</th>
    <th scope="col" (click)="sort('dateOfProduction')">Date of production:</th>
    <th scope="col" (click)="sort('colour')">Color of car:</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let car of cars | orderBy: key: reverse | filter : filter">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.mileage}}</td>
    <td>{{car.servicePeriod| date:'yyyy-MM-dd'}}</td>
    <td>{{car.retirementDate| date:'yyyy-MM-dd'}}</td>
    <td>{{car.description}}</td>
    <td>{{car.dateOfProduction| date:'yyyy-MM-dd'}}</td>
    <td>{{car.colour}}</td>
    <td>
      <button id="makeReservationButton" class="btn btn-success" [class.selected]="car === selectedCar"
              (click)="openModal(makeReservation,car.id)"><strong>MAKE RESERVATION</strong></button>
    </td>
    <td>
      <button id="detailsCarButton" class="btn btn-primary" [class.selected]="car === selectedCar"
              (click)="openModal2(modalCarDetails,car)">
        <strong>DETAILS</strong></button>
    </td>
  </tr>
  </tbody>
</table>


<ng-template #makeReservation>
  <form (ngSubmit)="addNewReservation(id.value, idOfCustomer.value, idOfCar.value, wifi.value, gps.value)"
        #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">MAKE RESERVATION</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info">MAKE RESERVATION</span></h1>
      <div>
        <label>Reservationl data:
          <br>
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>ID OF CAR:
            <input #idOfCar/>
          </label>
          <br>
          <label>WIFI:
            <input type="checkbox" class="checkbox" value="{{checkbox.wifi}}" [(ngModel)]="checkbox.wifi" #wifi
                   name="wifi"/>
          </label>
          <br>
          <label>GPS:
            <input type="checkbox" class="checkbox" value="{{checkbox.gps}}" [(ngModel)]="checkbox.gps" #gps
                   name="gps"/>
          </label>
          <br>
          <label>ID OF CLIENT:
            <input #idOfCustomer/>
          </label>
          <label>START DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="startDate"
                       name="startDate">
              </div>
            </div>
          </label>
          <br>
          <label>END DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #retiremntDate="bsDatepicker"
                       [(ngModel)]="endDate"
                       name="endDate">
              </div>
            </div>
          </label>
          <button type="submit">ADD RESERVATION</button>
        </label>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #modalCarDetails>

  <div class="modal-header">
    <h4 class="modal-title pull-left">CAR DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1><span class="label label-info"> CAR DETAILS</span></h1>
    <div>
      <div>ID:</div>
      <input id="idCar" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MARK:</div>
      <input id="carMark" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MODEL:</div>
      <input id="carModel" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR COLOR:</div>
      <input id="carColor" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR PRODUCTION DATE:</div>
      <input id="carProductionDate" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR RETIREMENT DATE:</div>
      <input id="carRetirementDate" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>DESCRIPTION:</div>
      <input id="description" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MILEAGE:</div>
      <input id="carMileage" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR SDERVICE PERIOD:</div>
      <input id="carServicePeriod" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
    </div>
  </div>

</ng-template>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
