<table class="table table-hover">
  <caption><span class="label label-success">List of cars</span></caption>
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">Id:</th>
    <th scope="col" (click)="sort('mark')">Mark:</th>
    <th scope="col" (click)="sort('model')">Model:</th>
    <th scope="col" (click)="sort('mileage')">Mileage:</th>
    <th scope="col" (click)="sort('servicePeriod')">Service Period:</th>
    <th scope="col" (click)="sort('retirementDate')">Retirement date:</th>
    <th scope="col" (click)="sort('description')">Description:</th>
    <th scope="col" (click)="sort('dateOfProduction')">Date of production:</th>
    <th scope="col" (click)="sort('colour')">Color of car:</th>
  </tr>
  </thead>


  <tbody>
  <tr *ngFor="let car of cars| orderBy: key: reverse | filter: filter">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.mileage}}</td>
    <td>{{car.servicePeriod| date:'yyyy-MM-dd'}}</td>
    <td>{{car.retirementDate| date:'yyyy-MM-dd'}}</td>
    <td>{{car.description}}</td>
    <td>{{car.dateOfProduction| date:'yyyy-MM-dd'}}</td>
    <td>{{car.colour}}</td>

    <td>
      <button id="deleteCarButton" class="btn btn-danger" [class.selected]="car === selectedCar"
              (click)="deleteCar(car.id)"><strong>DELETE</strong>
      </button>
    </td>
    <td>
      <button id="editCarButton" class="btn btn-warning" [class.selected]="car ===selectedCar"
              (click)="openModal(modalEditCar)"><strong>EDIT</strong>
      </button>
    </td>
    <td>
      <button id="detailsCarButton" class="btn btn-primary" [class.selected]="car === selectedCar"
              (click)="openModal2(modalCarDetails,car)">
        <strong>DETAILS</strong></button>
    </td>
  </tr>
  </tbody>
</table>


<button id="addCarButton" class="btn btn-success btn-lg " (click)="openModal(modalAddCar)"><strong>ADD CAR</strong>
</button>


<ng-template #modalAddCar>
  <form (ngSubmit)="addNewCar(id.value, mark.value, model.value, mileage.value, description.value, color.value)"
        #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">ADD CAR</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> ADDING CAR</span></h1>
      <div>
        <label>Car data:
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>MARK:
            <input #mark/>
          </label>
          <br>
          <label>MODEL:
            <input #model/>
          </label>
          <br>
          <label>MILEAGE:
            <input #mileage/>
          </label>
          <br>
          <label>SERVICE PERIOD:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="servicePeriodDateModel"
                       name="servicePeriodDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>RETIREMENT DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #retiremntDate="bsDatepicker"
                       [(ngModel)]="retirementDateModel"
                       name="retirementDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>DESCRIPTION:
            <input #description/>
          </label>
          <br>
          <label>PRODUCTION DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #productionDate="bsDatepicker"
                       [(ngModel)]="productionDateModel"
                       name="productionDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>COLOR:
            <input #color>
          </label>
          <button type="submit">ADD</button>
        </label>
      </div>
    </div>
  </form>

</ng-template>

<ng-template #modalEditCar>
  <form (ngSubmit)="save(id.value, mark.value, model.value, mileage.value, description.value, color.value)"
        #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">EDIT CAR</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> EDITING CAR</span></h1>
      <div>
        <label>Car data:
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>MARK:
            <input #mark/>
          </label>
          <br>
          <label>MODEL:
            <input #model/>
          </label>
          <br>
          <label>MILEAGE:
            <input #mileage/>
          </label>
          <br>
          <label>SERVICE PERIOD:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="servicePeriodDateModel"
                       name="servicePeriodDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>RETIREMENT DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #retiremntDate="bsDatepicker"
                       [(ngModel)]="retirementDateModel"
                       name="retirementDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>DESCRIPTION:
            <input #description/>
          </label>
          <br>
          <label>PRODUCTION DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #productionDate="bsDatepicker"
                       [(ngModel)]="productionDateModel"
                       name="productionDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>COLOR:
            <input #color>
          </label>
          <button type="submit">EDIT</button>
        </label>
      </div>
    </div>
  </form>

</ng-template>

<ng-template #modalCarDetails>

  <div class="modal-header">
    <h4 class="modal-title pull-left">CAR DETAILS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h1><span class="label label-info"> CAR DETAILS</span></h1>
    <div>
      <div>ID:</div>
      <input id="idCar" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MARK:</div>
      <input id="carMark" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MODEL:</div>
      <input id="carModel" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR COLOR:</div>
      <input id="carColor" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR PRODUCTION DATE:</div>
      <input id="carProductionDate" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR RETIREMENT DATE:</div>
      <input id="carRetirementDate" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>DESCRIPTION:</div>
      <input id="description" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR MILEAGE:</div>
      <input id="carMileage" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
      <div>CAR SDERVICE PERIOD:</div>
      <input id="carServicePeriod" class="form-group label-info" style="border: none;" type="text" readonly>
      <br>
    </div>
  </div>

</ng-template>
