<div><h3><span class="well well-sm"> SEARCH CUSTOMER</span></h3></div>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter">
</nav>

<table class="table table-hover">
  <caption><span class="label label-success">List of customers</span></caption>
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">Id:</th>
    <th scope="col" (click)="sort('firstName')">First Name:</th>
    <th scope="col" (click)="sort('lastName')">Last Name:</th>
    <th scope="col" (click)="sort('address')">Address:</th>
    <th scope="col" (click)="sort('email')">Email:</th>
    <th scope="col" (click)="sort('phone')">Phone:</th>
    <th scope="col" (click)="sort('birthDate')">Birth date:</th>
    <th scope="col" (click)="sort('creditCardNumber')">Card number:</th>
    <th scope="col" (click)="sort('rentedCars')">Rented cars id:</th>
  </tr>
  </thead>


  <tbody>
  <tr *ngFor="let customer of customers| orderBy: key: reverse | filter: filter">
    <td>{{customer.id}}</td>
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.birthDate| date:'yyyy-MM-dd'}}</td>
    <td>{{customer.creditCardNumber}}</td>
    <td>{{customer.rentedCars}}</td>

    <td>
      <button id="deleteCustomerButton" class="btn btn-danger"><strong>DELETE</strong></button>
    </td>
    <td>
      <button id="editCustomerButton" class="btn btn-warning"><strong>EDIT</strong></button>
    </td>
  </tr>
  </tbody>
</table>

<button id="addCustomerButton" class="btn btn-success btn-lg"><strong>ADD CUSTOMER</strong></button>
