<!--The content below is only a placeholder and can be replaced.-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div style="text-align:center">
  <h1><span class="label label-success">{{title}}</span></h1>
  <div>

      <router-outlet></router-outlet>
  </div>

  <br>
  <br>

  <table  id = "dashboard" class="table tab-pane" bgcolor="#f5f5dc" >
  <tr>
    <td>
      <button *ngIf="isAdmin || isUser" id="btn-cars-reservation" class="btn btn-default" routerLink="cars" >Cars Reservation</button>
    </td>
    <td>
      <button *ngIf="isAdmin" id="btn-customers-management" class="btn btn-default" routerLink="customers" >Clients Management</button>
    </td>
    <td>
      <button *ngIf="isAdmin" id="btn-cars-management" class="btn btn-default" routerLink="cars_management" >Cars Management</button>
    </td>
    <td>
      <button  *ngIf="isAdmin" id="btn-Rentals-Management" class="btn btn-default" routerLink="rental_management" >Rentals Management</button>
    </td>
      </tr>

  </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
