<form id="loginForm" (submit)="loginUser($event)" style="visibility: visible">
  <div class="input">
    <span class="label label-info label-lg">Login</span>
    <input type="text">
  </div>
  <div class="input">
    <span class="label label-info label-lg">Password</span>
    <input type="password">
  </div>
  <div class="input">
    <button type="submit" value="Login"> login </button>

  </div>
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
