<table class="table table-hover">
  <caption><span class ="label label-success">List of rentals</span></caption>
  <thead><tr>
    <th scope="col">Id:</th>
    <th scope="col">Id of customer:</th>
    <th scope="col">Rent start date:</th>
    <th scope="col">Rent end date:</th>
    <th scope="col">Id of rented car:</th>
  </tr></thead>



  <tbody><tr *ngFor="let rental of rentals" >
    <td>{{rental.id}}</td>
    <td>{{rental.customer}}</td>
    <td>{{rental.startDate| date:'yyyy-MM-dd'}}</td>
    <td>{{rental.endDate| date:'yyyy-MM-dd'}}</td>
    <td>{{rental.carRented}}</td>

    <td><button id="cancelRentalButton" class="btn btn-danger"
                ><strong>CANCEL</strong></button></td>
    <td><button id="editRentalButton" class="btn btn-warning" ><strong>EDIT</strong></button></td>
  </tr>
  </tbody>
</table>
<button id ="addRentalButton" class="btn btn-success btn-lg" ><strong>ADD RENTAL</strong></button>
