<div *ngIf="car">
  <h2>{{ car.mark | uppercase }} Details</h2>
  <div><span class="label label-success">id: </span>{{car.id}}</div>
  <div><span class="label label-success">mark: </span>{{car.mark}}</div>
  <div><span class="label label-success">model: </span>{{car.model}}</div>
  <div><span class="label label-success">mileage: </span>{{car.mileage}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="car.mark" placeholder="mark">
    </label>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
