<table class="table table-hover">
  <caption><span class ="label label-success">List of rentals</span></caption>
  <thead><tr>
    <th scope="col" (click)="sort('id')">Id:</th>
    <th scope="col" (click)="sort('customer')">Id of customer:</th>
    <th scope="col" (click)="sort('startDate')">Rent start date:</th>
    <th scope="col" (click)="sort('endDate')">Rent end date:</th>
    <th scope="col" (click)="sort('carRented')">Id of rented car:</th>
    <th scope="col" (click)="sort('wifi')">WIFI:</th>
    <th scope="col" (click)="sort('wifi')">GPS:</th>
  </tr></thead>



  <tbody><tr *ngFor="let rental of rentals| orderBy: key: reverse | filter: filter" >
    <td>{{rental.id}}</td>
    <td>{{rental.customer}}</td>
    <td>{{rental.startDate| date:'yyyy-MM-dd'}}</td>
    <td>{{rental.endDate| date:'yyyy-MM-dd'}}</td>
    <td>{{rental.carRented}}</td>
    <td>{{rental.wifi}}</td>
    <td>{{rental.gps}}</td>

    <td><button id="cancelRentalButton" class="btn btn-danger" [class.selected]="rental"
                (click)="deleteRental(rental.id)"><strong>CANCEL</strong></button></td>
    <td><button id="editRentalButton" class="btn btn-warning" [class.selected] = "rental"
     (click)="openModal(modalUpdateRental)"><strong>EDIT</strong></button></td>
  </tr>
  </tbody>
</table>
<button id ="addRentalButton" class="btn btn-success btn-lg" (click)="openModal(modalAddRental)" ><strong>ADD RENTAL</strong></button>



<ng-template #modalAddRental>
  <form (ngSubmit)="addNewRental(id.value,idOfCustomer.value, idOfCar.value, wifi.value, gps.value )" #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">ADD RENTAL</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> ADDING RENTAL</span></h1>
      <div>
        <label>Rental data:
          <br>
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>ID OF CAR:
            <input #idOfCar/>
          </label>
          <br>
          <label>WIFI:
            <input type="checkbox" class="checkbox" value="{{checkbox.wifi}}" [(ngModel)]="checkbox.wifi" #wifi name="wifi"/>
          </label>
          <br>
          <label>GPS:
            <input type="checkbox" class="checkbox" value="{{checkbox.gps}}" [(ngModel)]="checkbox.gps" #gps name="gps"/>
          </label>
          <br>
          <label>ID OF CLIENT:
            <input #idOfCustomer/>
          </label>
          <label>START DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="startDate"
                       name="startDate">
              </div>
            </div>
          </label>
          <br>
          <label>END DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #retiremntDate="bsDatepicker"
                       [(ngModel)]="endDate"
                       name="endDate">
              </div>
            </div>
          </label>
          <button type="submit">ADD RENTAL</button>
        </label>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #modalUpdateRental>
  <form (ngSubmit)="saveRental(id.value,idOfCustomer.value, idOfCar.value, wifi.value,gps.value)" #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">UPDATE RENTAL</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> UPDATE RENTAL</span></h1>
      <div>
        <label>Rental data:
          <br>
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>ID OF CAR:
            <input #idOfCar/>
          </label>
          <br>
          <label>ID OF CLIENT:
            <input #idOfCustomer/>
          </label>
          <label>WIFI:
            <input type="checkbox" class="checkbox" value="{{checkbox.wifi}}" [(ngModel)]="checkbox.wifi" #wifi name="wifi"/>
          </label>
          <br>
          <label>GPS:
            <input type="checkbox" class="checkbox" value="{{checkbox.gps}}" [(ngModel)]="checkbox.gps" #gps name="gps"/>
          </label>
          <label>START DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="startDate"
                       name="startDate">
              </div>
            </div>
          </label>
          <br>
          <label>END DATE OF RENT:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #retiremntDate="bsDatepicker"
                       [(ngModel)]="endDate"
                       name="endDate">
              </div>
            </div>
          </label>
          <button type="submit">UPDATE RENTAL</button>
        </label>
      </div>
    </div>
  </form>
</ng-template>
