<div><h3><span class="well well-sm"> SEARCH CUSTOMER</span></h3></div>
<nav class="navbar">
  <input class="form-control" type="text" name="search" [(ngModel)]="filter">
</nav>

<table class="table table-hover">
  <caption><span class="label label-success">List of customers</span></caption>
  <thead>
  <tr>
    <th scope="col" (click)="sort('id')">Id:</th>
    <th scope="col" (click)="sort('firstName')">First Name:</th>
    <th scope="col" (click)="sort('lastName')">Last Name:</th>
    <th scope="col" (click)="sort('address')">Address:</th>
    <th scope="col" (click)="sort('email')">Email:</th>
    <th scope="col" (click)="sort('phone')">Phone:</th>
    <th scope="col" (click)="sort('birthDate')">Birth date:</th>
    <th scope="col" (click)="sort('creditCardNumber')">Card number:</th>
    <th scope="col" (click)="sort('rentedCars')">Rented cars id:</th>
  </tr>
  </thead>


  <tbody>
  <tr *ngFor="let customer of customers| orderBy: key: reverse | filter: filter">
    <td>{{customer.id}}</td>
    <td>{{customer.firstName}}</td>
    <td>{{customer.lastName}}</td>
    <td>{{customer.address}}</td>
    <td>{{customer.email}}</td>
    <td>{{customer.phone}}</td>
    <td>{{customer.birthDate| date:'yyyy-MM-dd'}}</td>
    <td>{{customer.creditCardNumber}}</td>
    <td>{{customer.rentedCars}}</td>

    <td>
      <button id="deleteCustomerButton" class="btn btn-danger" [class.selected]="customer"
              (click)="deleteCustomer(customer.id)"><strong>DELETE</strong></button>
    </td>
    <td>
      <button id="editCustomerButton" class="btn btn-warning" [class.selected]="customer"
              (click)="openModal(updateCustomerModal,customer)"><strong>EDIT</strong></button>
    </td>
  </tr>
  </tbody>
</table>

<button id="addCustomerButton" class="btn btn-success btn-lg" (click)="openModal(addCustomerModal)"><strong>ADD
  CUSTOMER</strong></button>


<ng-template #addCustomerModal>
  <form (ngSubmit)="addNewCustomer(id.value,firstName.value, lastName.value, address.value,  email.value,  phone.value
  , creditCardNumber.value, idOfRentedCar.value)" #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">ADD CUSTOMER</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> ADDING CUSTOMER</span></h1>
      <div>
        <label>Customer data:
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>FIRST NAME:
            <input #firstName/>
          </label>
          <br>
          <label>LAST NAME:
            <input #lastName/>
          </label>
          <br>
          <label>ADDRESS:
            <input #address/>
          </label>
          <br>
          <label>EMAIL:
            <input #email/>
          </label>
          <br>
          <label>PHONE:
            <input #phone/>
          </label>
          <br>
          <label>BIRTH DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="birthDate"
                       name="servicePeriodDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>CREDIT CARD NUMBER:
            <input #creditCardNumber/>
          </label>
          <br>
          <label>ID OF RENTED CAR:
            <input #idOfRentedCar>
          </label>
          <button type="submit">ADD</button>
        </label>
      </div>
    </div>
  </form>

</ng-template>

<ng-template #updateCustomerModal>
  <form (ngSubmit)="saveCustomer(id.value,firstName.value, lastName.value, address.value,  email.value,  phone.value
  , creditCardNumber.value, idOfRentedCar.value)" #carForm="ngForm"> >
    <div class="modal-header">
      <h4 class="modal-title pull-left">UPDATING CUSTOMER</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h1><span class="label label-info"> UPDATING CUSTOMER</span></h1>
      <div>
        <label>Customer data:
          <label>ID:
            <input #id/>
          </label>
          <br>
          <label>FIRST NAME:
            <input #firstName/>
          </label>
          <br>
          <label>LAST NAME:
            <input #lastName/>
          </label>
          <br>
          <label>ADDRESS:
            <input #address/>
          </label>
          <br>
          <label>EMAIL:
            <input #email/>
          </label>
          <br>
          <label>PHONE:
            <input #phone/>
          </label>
          <br>
          <label>BIRTH DATE:
            <div class="row">
              <div class="col-xs-12 col-12 col-lg-6 form-group">
                <input type="text"
                       placeholder="Datepicker"
                       class="form-control"
                       bsDatepicker
                       #servicePeriodDate="bsDatepicker"
                       [(ngModel)]="birthDate"
                       name="servicePeriodDateModel">
              </div>
            </div>
          </label>
          <br>
          <label>CREDIT CARD NUMBER:
            <input #creditCardNumber/>
          </label>
          <br>
          <label>ID OF RENTED CAR:
            <input #idOfRentedCar>
          </label>
          <button type="submit">ADD</button>
        </label>
      </div>
    </div>
  </form>

</ng-template>


